* {
  box-sizing: border-box;
}
body{
  font-family: "Cuprum";
}
input{
  outline: none;
}
.container{
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
}
.d-flex {
  display: flex;
}
.mr-0 {
  margin-right: 0 !important;
}
.flex-column{
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.logo-container {
  background-color: #293449;
  height: 47px;
}
.logo {
  width: 220px;
  color: #d8d8d8;
  background-color: #EE3643;
  font-size: 24px;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5),
  0px -5px 0px rgba(0, 0, 0, 0.2);
}
.search {
width: 280px;

}
.search img{
  padding-right: 15px;
  padding-left: 17px;
}
.search input {
  background-color: transparent;
  border: none;
  color: #d8d8d8;
}
.search input:placeholder{
  color: #d8d8d8;
}
.link{
  width: 150px;
  color: #d8d8d8;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link img{
  padding-right: 17px;
}
.link span:hover{
  text-decoration: underline;
}
.red-link{
  background-color: #EE3643;
}
.btn {
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 17px;
  font-size: 16px;
}
.red-link:hover{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.green-link{
  background-color: #63A63E;
}
.green-link:hover{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.bookmarks{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #d8d8d8;
}
.bookmarks img{
  padding-right: 13px;

}
.header-container{
  padding-top: 43px;
  padding-bottom: 60px;
  background-color: #f1f5f8;
}
.header-description{
  font-size: 16px;
  color: #EE3643;
  padding-left: 52px;
  text-align: left;
  max-width: 197px;
  display: block;
  line-height: 1.6;
}
.header-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-tel{
  border: 3px solid white;
  padding: 12px 40px 12px 20px;
}
.header-tel img{
  padding-right: 40px;
}
.header-tel a{
  color: #EE3643;
  font-size: 21px;
  text-decoration: none;
}
.header-contacts span{
  color: #32425c;
  padding-top: 7px;
  font-size: 14px;
}
.header-login a{
  padding: 13px 25px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  background-color: white;
}
.header-login a:first-child{
  margin-right: 10px;
}
.header-login a img {
  padding-right: 15px;
}
.container-nav{
  display: flex;
  align-items: center;
  background-color: #293449;
  height: 60px;
  margin-top: 52px;
}
.container-nav nav{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.container-nav ul{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
.container-nav a{
  text-decoration: none;
  color: #d8d8d8;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #eaeaea;
  margin-right: 20px;
  width: 220px;
}
.catalog-item:last-child {
  margin-right: 0;
}
.catalog-item-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.catalog-item s {
  color: #A9A9A9;
  font-size: 18px;
  margin-bottom: 10px;
}
.catalog-item-price {
  background-image: url("../img/red-button.png");
  color: #ffffff;
  padding: 7px 46px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.catalog-item-price:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
 .modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  color: #000000;
  /* background-color: #f8f8f0;
  background-position: 0 0;
  background-repeat: repeat; */
  /* box-shadow: 0 30px 50px rgba(0,0,0,0.7) */
}
.modal-show{
  display: block;
}
.modal-login {
  max-width: 620px;
  box-shadow: 0 20px 40px rgba(0,1,1,0.7);
  flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: white;
}
.modal-login-form {
  width: 100%;
}

.modal-login label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 25px;
  margin-top: 25px;

}
.red-line {
  height: 7px;
  width: 100%;
  background-color: #EE3643;
}

.modal-login-title {
  font-size: 20px;
  margin-bottom: 16px;
}
.modal-login-input {
  padding: 7px 20px;
  border: 2px solid #DEE3E4;
  max-width: 220px;
}
.modal-login-input:hover {
  border-color: #B5B5B5;
}
.modal-login-input:focus {
  border-color: #EE3643;
}
.modal-login-btn-bg {
  background-color: #F1F1F1;
  padding: 20px 80px;
  border: 1px solid #F07982;
}
.modal-login-btn {
  padding: 10px;
  width: 100%;
  background-color: #EE3643;
border: none;
color: white;
}
.modal-login{
  top:120px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  display: none;
}
.modal-close{
  position: absolute;
  top:0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after{
  content: "";
  position: absolute;
  top:10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}
.modal-close::before{
  transform: rotate(45deg);
}
.modal-close::after{
  transform: rotate(-45deg);
}
.modal-login h2{
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-description{
  margin: 0;
  margin-bottom: 10px;
}
.login-form p{
  margin: 0;
  margin-bottom: 10px:
}
.login-form input[type="text"],
.login-form input[type="password"]{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  text-transform: inherit;
  background-color: #000000;
  border: 2px solid #000000;
}
.login-form input:focus{
  border-color: #663d15;
}
.login-form .login-help{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}
.login-icon-user{
  background-position: 270px center;
  background-repeat: no-repeat;

}
.login-icon-password{
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-checkbox{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus{
  color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top:0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox
-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox
-indicator::after{
  content: "";
  position: absolute;
  top:8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox -indicator::before{
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox -indicator::after{
  transform: rotate(45deg);
}
.restore{
  color: #000000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus{
  text-decoration: none;
}
.login-form .button{
  width: 100%;
  margin-right: 0;
}
